.comp{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border: rgba(0, 0, 0, 0.25) solid 3px;
    border-radius: 20px;
    padding:40px;
    margin:40px;
    max-width: 1000px;

    .comp > div{
        display: flex;
        flex-direction: column;

        h3{
           color: rgba(82, 67, 126, 1);
        }

        p{
            color:#8C7A7A;
        }
    }

    .d{
        margin: 20px;
    }

    .img{
        height: 200px;
        width: 200px;
    }
}