.comp-cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #262626;
    color: #F1EFEF;
    width: 1920px;
    height: 228px;


    .icon{
        width: 294px;
        height: 227px;
    }


    .opcoes1{
        display: flex;
        flex-direction: column;

        .inpu{
            display: flex;
            flex-direction: row;
            background-color: #fff;
            width: 752px;
            height: 56px;
            

        }
    }

    .parte2{
        display: flex;
        flex-direction: column;

        button{
            border: solid 1px #ffffff;
            border-radius: 20px;
            background-color: #262626;
            color: #F1EFEF;
        }
    }
}