.Imagen{
    background-image: url('../images/images/login.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 1920px;
    height: 837px;
  }
  
  .Imagen h1 {
    color: white;
  }
  