.ksl {
    background-color: #4ea9ff00;
    width: 1265px;
    display: flex;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .imgim {
        background-image: url('impressoraa.png');
        height: 400px;
        width: 400px;
        background-size: cover;
    }


    .ppqs {
        display: flex;
        flex-direction: column;


    }

    .ppqs button {
        justify-self: center;
        font-family: 'roboto';
        font-size: large;
        width: 140px;
        height: 50px;
        border-radius: 40px;
        background-color: #fff;
        border: 2px solid #00000063;
        color: #262626;
        margin-top: 40px;
    }


    .ppqs img {
        margin-bottom: 45px;

    }

    .ppqs h1 {
        font-size: 35px;
        font-family: 'roboto';
        font-weight: 400;
        margin-bottom: 30px;
    }

    .ppqs p {
        font-size: 25px;
        font-family: 'roboto';
        font-weight: 300
    }


    .ppqs button:hover {
        background-color: #262626;
        transition: 500ms;
        color: #ffffff;

    }
}